

body {
  padding: 0;
  margin: 0;
  background: #404040;
}
#top {
  background-image: url("Images/covid3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  z-index: -1;
}
#middle {
  text-align: center;
}
#black_line_menu_info {
  width: 100%;
  height: 85px;
  padding: 5px;
  margin: 0;
  background-color: black;
  color: white;

}
#mini_black_line_menu_info {
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0px;
  background-color: black;
  color: white;
  font-size: 10px;
  margin-bottom: -24px;

}
#input_modal_pattern {
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;

}
.icon {
  width: 50px;
  height: 50px;


}
#text_main {
  position: absolute;
  color: white;
  font-family: 'Anton', sans-serif;
  letter-spacing: 45px;
  font-size: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  right: 25%;
  margin-top:auto;
  justify-content: center;
  background: black;
}
.mini {
  font-size: 15px;
  letter-spacing: 15px;
}
#countries {
  background-color: #e0e0e0;
  padding: 5px;
  border-top: 5px solid #0095ff;
}
.color {
  color: #ff3c00;
  padding: 6px;
  font-size: 20px;
}
.map {
  margin-top: 120px;
  border-top: 5px solid lime;
  margin-top: 0;
  padding: 0;
}
#input_modal_pattern {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
}
#input_modal_pattern select {
  width: 100%
}
#input_modal_pattern input {
}

.covid {
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: 900;
  color: black;
  border: 1px solid #f2f2f2;
  width: 100%;

}
#footer {
  background-color: #171717;
  color: white;
  width: 100%;
  height: 200px;
}
.foot_text {
  opacity: 0.4;
  text-align: center;
}
.link {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
#world {
  background-color: #ffe6e6;
  color: black;
  border: 3px solid #ff8282;
  height: 140px;
  text-align: center;
  height: 420px;
}

#demo {
  background-color: #ffffff;
  margin: 0px;
  border: 1px solid black;
}

/* MEDIA RULES */

@media only screen and (max-width: 1200px) {
  #top {
    background-image: none;
    height: 200px;
  }
  #text_main {
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 20px;
    font-size: 50px;
    text-align: center;
    margin-top:auto;
    padding: 15px;
    background: black;
    margin-left: 20px;
    box-sizing: border-box;
    width: 100%;
    position: inherit;
    margin: 0;
  }
  #world {
    height: 380px;
  }
}
.covid-world {
  font-family: 'Anton', sans-serif;
  float: left;
  padding: 15px;
  font-size: 27px;
  background-color: #363636;
  border-right: 4px dashed #1df21d;
  display: inline;
  float: left;
  width: 1020px;

}
.title_page {
  text-align: center;
  margin-top: 20px;


}


h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
  color: lime;
  font-family: 'Quicksand', sans-serif;
}
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}





















/* Content */
.content {
	max-width: 800px;
	width: 100%;
	border: 2px solid firebrick;
	padding: 30px;
	box-shadow: 0 0 40px rgba(0,0,0,0.15);
}

/* Preloader */
#preloader {
	background: #F2994A linear-gradient(to right, #F2994A, #F2C94C);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 1000;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .35s ease;
  opacity: 0.9;
}

.dot {
	width: 20px;
	height: 20px;
	margin: 0 10px;
	border: 4px solid #fff;
	border-radius: 50%;
	animation: show-hide 1s ease infinite;
}

.dot:nth-child(2) {
	animation-delay: 300ms;
}

.dot:nth-child(3) {
	animation-delay: 600ms;
}

@keyframes show-hide {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Helpers */
#preloader.preloader-hiding {
	opacity: 0;
}

#preloader.preloader-hidden {
	display: none;
}

#btn01 {
  z-index: 1;
  float: left;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .title_page {
    font-size: 14px;
  }
  h1,h2 {
    font-size: 20px;
  }
  .covid-world {
    width: 360px;
    height: 70px;
    font-size: 25px;
    text-align: center;
  }
}

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

}

h1 {
    color: var(--secondary-color);

    /*other styles*/
    .....
}

a {
    color: var(--primary-color);

    /*other styles*/
    .....
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}
